<form [formGroup]="facilityForm" (submit)="saveFacility()" class="container">
    <h1 mat-dialog-title class="dark-purple">{{isNew ? 'Add' : 'Edit'}} Facility</h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Room title</mat-label>
                    <input matInput type="text" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Instruments</mat-label>
                    <input matInput type="text" formControlName="instrumentList">
                </mat-form-field>
            </div>
        </div>
        <p class="fw-light text-danger">* Complete the form to enable button.</p>
    </div>
    <div mat-dialog-actions class="px-2" align="end">
        <button mat-button mat-dialog-close class="btn btn-lg me-2">Close</button>
        <button type="submit" class="btn primary btn-lg button-purple" [disabled]="!facilityForm.valid">{{isNew ? 'Add' :'Save'}}</button>
    </div>

    

</form>